<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
        <div class="top of page">
            <div class="jumbotron text-center">
                <h1>Mission to Mars</h1>
                <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape Again</a></p>
              </div>
        </div>




        <div class="middle of the page">
            <h3>{{mars_data.news_title}} {{mars_data.news_p}}</h3>

            <h3>Featured Mars Image {{mars_data.mars_image}}</h3>

            <h5>Current Weather on Mars  {{mars_data.current_weather}}</h5>

            <h5></h5>
            

        </div>



        <div class="mars images">
            <h3>Mars Hemispheres</h3>

        </div>
                  
    
</body>
</html>